<h1>Seja Bem-vindo</h1>

<p><strong>Data:</strong><%=  date_br %></p>

<p>Seu nome: <strong><%= @nome %></strong></p>
<p>Seu ambiente está em: <strong><%= env_rails %></strong></p>
<%= render "menu" %>