<div class="jumbotron">
  <h1 class="display-4"><%=I18n.t('welcome')%></h1>
  <p class="lead"><%= I18n.t('messages.welcome') %></p>
  <hr class="my-4">
  <p><%= I18n.t('messages.menu') %></p>
  <%= render 'menu'%>
</div>